APP_URL=https://www.saucedemo.com/

SAUCE_PASSWORD=secret_sauce
SAUCE_STANDARD_USER=standard_user
SAUCE_LOCKED_OUT_USER=locked_out_user
SAUCE_PROBLEM_USER=problem_user
SAUCE_PERFORMANCE_GLITCH_USER=performance_glitch_user
SAUCE_ERROR_USER=error_user
SAUCE_VISUAL_USER=visual_user

SAUCE_INVALID_USER=invalid_user
SAUCE_INVALID_PASSWORD=invalid_password
